		<div id="chart_select">
				<p id="chart_title"> <span class="title_text"> Load Volume</span> <span class="arrow">></span> <span class="title_text">All</span> <span class="arrow">></span> <span class="title_text">Days</span> </p>
			<ul id="metric_cat_select">
				<li><%= select("metric", "select", %w[Load\ Volume Time Reps Weight Sets]) %></li>
				<li><%= select("category", "select", %w[All Full\ Body Lower\ Body Upper\ Body Chest Legs Arms Back Hips Shoulders]) %></li>
			</ul>
			<ul id="time_scale">
				<li>Months</li>
				<li>Weeks</li>
				<li>Days</li>
			</ul>
			</div>
		<!-- Graph goes here -->	
		<div id="graphContainer"></div>
		
	<div id="training_stats">
		<!-- WORKOUT STATS-->
  	<div id="workout_stats">
   		<h3> Workouts </h3>
      <p><%= @user.workouts.count %> Workouts</p>
		</div>
		<!-- LOAD VOLUME STATS -->
		<div id="load_volume_stats">
	 		<h3> Load Volume</h3>
    	<p><%= @user.workouts.sum(:load_volume) %><p>
		</div>	
		<!-- TIME STATS-->
		<div id="time_stats">
			<h3> Time </h3>
			<p> <%= @user.workouts.sum(:hours) %> hrs<p>
		</div>
	</div>


<script>
$(document).ready(function() {
	$("#time_scale li:last").addClass('current');
	$("#time_scale li").on("click", function() {
		$("#time_scale li").removeClass('current');
		$(this).addClass('current');
	});
});
</script>

<script>
$(document).ready(function() {

$("ul#time_scale li, #metric_select, #category_select").on('click change', function () {
	var category = $("#category_select option:selected").attr("value");
	var metric = $("#metric_select option:selected").attr("value");
	var time_scale = $("ul#time_scale li.current").text();
	var pElem = $('#chart_title');
	var children = pElem.children();

	pElem.append(children);
	var arrow = 
		$("#chart_title span:nth-child(1)").text(" " + metric + " ");
		$("#chart_title span:nth-child(3)").text(" " + category + " ");
		$("#chart_title span:nth-child(5)").text(" " + time_scale + " ");
});
});
</script>
