<fieldset>
		<legend id="exercise_number"><strong>Exercise # 1 </strong></legend>
	<div class="field">
	<% if params[:action] = "edit" %>
	<strong><%= f.label :name %></strong>
	<% end %>
	<%= f.text_field :name, :placeholder => "exercise" %>
	</div>
	<div class="field">
	<% if params[:action] = "edit" %>
	<strong><%= f.label :weight %></strong>
	<% end %>
	<%= f.text_field :weight, :placeholder => "weight" %>
	</div>
	<div class="field">
	<% if params[:action] = "edit" %>
	<strong><%= f.label :reps %></strong>
	<% end %>
	<%= f.text_field :reps, :placeholder => "reps" %>
	<%= f.hidden_field :_destroy %>
	<%= link_to "Remove Exercise", '#', class: "remove_fields" %>
	</div>
</fieldset>	

<script>
function monkeyPatchAutocomplete() {
    $.ui.autocomplete.prototype._renderItem = function (ul, item) {
        var keywords = $.trim(this.term).split(' ').join('|');
        var output = item.label.replace(new RegExp("(" + keywords + ")", "gi"), '<span style="font-weight:bold;color:Blue;">$1</span>');
        return $("<li>")
            .append($("<a>").html(output))
            .appendTo(ul);
    };
}
// Autocomplete for exercise names
$(function() {
		monkeyPatchAutocomplete();
    $('#workout_exercise_name').autocomplete({ 
			source: '<%= exercises_path %>'
	 	});
});
</script>