<li>
	<div class="ex_fields">
	<div class="ex_counter">1</div>
	<div class="field">
	<% if params[:action] = "edit" %>
	<%= f.label :name, 'Exercise' %>
	<% end %>
	<%= f.text_field :name, :placeholder => " exercise", class: "exercise_name ui-autocomplete-input" %>
	</div>
	<div class="field">
	<% if params[:action] = "edit" %>
	<%= f.label :weight %>
	<% end %>
	<%= f.text_field :weight, size: "5", :placeholder => " weight" %>
	</div>
	<div class="field">
	<% if params[:action] = "edit" %>
	<%= f.label :reps %>
	<% end %>
	<%= f.text_field :reps, size: "5", :placeholder => " reps" %>
	<%= f.hidden_field :_destroy %>
	<%= link_to "Remove Exercise", '#', class: "remove_fields" %>
	</div>
	</div>
</li>
<script>
/*  Remove exercise link in workout form */
$(function() {
  return $('form').on('click', '.remove_fields', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('.ex_fields').hide();
    return event.preventDefault();
  });
});


/****  
* Autocomplete for exercises in the workout form. 
* Source (for autocomplete): all exercises marked as 'usable' in ibid table
* Includes "Monkey patch" that allows for 
* syntax highlighting of matched terms. 
*
****/
function monkeyPatchAutocomplete() {
    $.ui.autocomplete.prototype._renderItem = function (ul, item) {
        var keywords = $.trim(this.term).split(' ').join('|');
        var output = item.label.replace(new RegExp("(" + keywords + ")", "gi"), '<span style="font-weight:bold;color:Blue;">$1</span>');
        return $("<li>")
            .append($("<a>").html(output))
            .appendTo(ul);
    };
}

$(function() {
		monkeyPatchAutocomplete();
    $('.exercise_name').autocomplete({ 
			source: '<%= exercises_path %>'
	 	});
});
</script>
