<div class="exercise">

		<li>
			<div class="exercise-count">1</div>	
			<%= f.label :name, 'Exercise' %>
			<%= f.text_field :name, required: true, :placeholder => " exercise", class: "exercise_name ui-autocomplete-	input" %>
		</li>
		<li>
			<%= f.label :weight %>
			<%= f.text_field :weight, size: "5", :placeholder => " weight" %>
		</li>
		<li>
			<%= f.label :reps %>
			<%= f.text_field :reps, size: "5", :placeholder => " reps" %>
			or
		</li>
		<li>
			<%= f.label :time %>
			<%= f.number_field :hours, style: "width: 33px; height: 32px;", placeholder: "h" %>
			<%= f.number_field :minutes, style: "width: 37px; height: 32px;", placeholder: "m" %>
			<%= f.number_field :seconds, style: "width: 32px; height: 32px;", placeholder: "s" %>
			<%= f.hidden_field :_destroy %>
			<%= link_to "Remove", '#', class: "workout-remove-exercise-link javascript-link" %>
		</li>
		<br/><br/><br/><br/>

		<%= render 'rest_period_fields', f: f %>
	
</div>
