<div class="exercise">

		<li>
			<div class="exercise-count">1</div>	
			<%= f.label :name, 'Exercise' %>
			<%= f.text_field :name, :placeholder => " exercise", class: "exercise_name ui-autocomplete-	input" %>
		</li>
		<li>
			<%= f.label :weight %>
			<%= f.text_field :weight, size: "5", :placeholder => " weight" %>
		</li>
		<li>
			<%= f.label :reps %>
			<%= f.text_field :reps, size: "5", :placeholder => " reps" %>
			<%= f.hidden_field :_destroy %>
			<%= link_to "Remove Exercise", '#', class: "workout-remove-exercise-link javascript-link" %>
		</li>
		<br/><br/><br/><br/>

		<div class="workout-rest">
			<%= f.fields_for :rest_period do |rest_period_fields| %>
				<%= f.label :rest_period %>
				<%= rest_period_fields.hidden_field :minutes %>
				<%= rest_period_fields.hidden_field :seconds %>
			<% end %>	
			<div id="slider"></div>
			<div class="workout-rest-value"> </div>
		</div>
	
</div>