<%= form_for [@user, @workout] do |f| %>
<%= render 'layouts/errors', object: f.object %>

	<div class="row-1-3">
		<ul class="form-field-list">
				<li>
					<%= f.label "Category" %>
  				<%= f.select(:category, [['Full Body'], ['Lower Body'], ['Upper Body'], ['Chest'], ['Legs'], ['Arms'], ['Back'], ['Hips'], ['Shoulders'	]]	, 	{}, :style => "height: 32px; width: 180px") %>
				</li>
				<li>
					<%= f.label "name" %>
					<%= f.text_field :name, :placeholder => " name", :size => "8" %>
				</li>		
				<li>
					<%= f.label "time" %>
					<%= f.text_field :hours, size: "3", :placeholder => " hr" %>
					<%= f.text_field :minutes, size: "3", :placeholder => " min" %>
					<%= f.text_field :seconds, size: "3", :placeholder => " sec" %>
				</li>		
				<li>
					<%= f.label "Sets" %>
					<%= f.text_field :sets, size: "5", :placeholder => " sets" %>
				</li>
		</ul>
	</div>


		<div class="row-1-3 exercise-row">
				<div id="display-sets">
					<%= link_to ' ', '#', id: "num_sets", class: "javascript-link" %>
				</div>
			<div class="grid">
				<div class="col-9-10">
					<ol class="form-field-list exercise-list">
						<%= f.fields_for :exercises do |builder| %>
							<%= render 'exercise_fields', f: builder, :locals => {:edit => 	true} %> 
						<% end %>
					</ol>
				</div>
	
				<div class="col-1-10 add-exercise-button">
					<%= tooltip_for "Add Exercise" do %>	
						<%= link_to_add_fields "+", f, :exercises, "workouts" %>
					<% end %>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>

		
		<div class="row-1-3">
			<ul class="form-field-list final-workout-details">
			<li>
				<%= link_to 'Today (change date)', '#', id: "workout_created_at_link", class: "javascript-link" %>
				<%= f.text_field :created_at, :placeholder => "date", class: "jquery-ui-date" %>
			</li>
			<li> <%= f.submit "I did this" %> </li>
		</ul>
		</div>

<% end %>




 


