<%= form_for [@user, @workout] do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	
		<div class="field">
			<strong><%= f.label "name" %></strong>
    	<%= f.text_field :name, :placeholder => "workout name" %>
		</div>
		
		<div class="field">
			<strong><%= f.label "time" %></strong>
			<%= f.text_field :hours, size: "5", :placeholder => "hr" %>
			<%= f.text_field :minutes, size: "5", :placeholder => "min" %>
			<%= f.text_field :seconds, size: "5", :placeholder => "sec" %>
		</div>
		<div class="field">
			<%= f.fields_for :exercise do |builder| %>
				<%= render 'exercise_fields', f: builder, :locals => {:edit => true} %>
				<span id="add_fields">
				<%= link_to_add_fields "+ Add Exercise", f, :exercises %>
				</span> <!-- helper method in application_helper.rb-->
			<% end %>
		</div>
	
		<div class="field">
			<%= link_to 'Today (change date)', '#', class: "workout_created_at_link" %>
			<%= f.text_field :created_at, :placeholder => "date", class: "jquery-ui-date" %>
		</div>
		
		<div class="field">
			<%= f.submit %>
		</div>

<% end %>

<div id="empty_div"></div>

<script>
$("#workout_name").focus();

$('.jquery-ui-date').hide();
$('.workout_created_at_link').on('click', function() {
	$('.workout_created_at_link').hide();
	$('.jquery-ui-date').show();
	return false;
});

/*****
* Adds form input fields belonging to attributes on the Exercise model. The
* data attributes are passed via the link_to_add_fields helper function (in application_helper.rb)
* When the link_to_add_fields is clicked, a RegEx searches the data hash for the id, inserts the form fields
before the link, and replaces regexp with the index variables i (initialized to 0).
*****/
$('form').on('click', '.add_fields', function(event) {
	var i = $('#new_workout fieldset').size() - 1;
	var regexp = new RegExp($(this).data('id'), 'g');
	$(this).before($(this).data('fields').replace(regexp, i));
	event.preventDefault();
	$("#workout_exercises_attributes_" + i + "_name").focus();
	$('#new_workout fieldset legend strong').last().text("Exercise # " + (i + 2));
	i++;
	
});
</script>

<script>
$(".jquery-ui-date").datepicker({ dateFormat: 'yy-mm-dd' });
</script>




 


