<h1>Editing workout</h1>

<div id="workout_form">
	<%= form_for [@user, @workout] do |f| %>
	  <% if @workout.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

	      <ul>
	      <% @workout.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
			<%= f.label :name %>
		  <%= f.text_field :name, :placeholder => "workout name" %>
		</div>
		<div class="field">
			<%= f.label :created_at, 'Date' %>
			<%= f.text_field :created_at, :placeholder => "date", class: "jquery-ui-date" %>
		</div>
		<div class="field">
			<%= f.fields_for :exercises do |builder| %>
				<%= render 'exercise_fields', f: builder %>
			<% end %>
			<%= link_to_add_fields "Add Exercise", f, :exercises %>
		</div>
		<div class="field">
			<%= f.submit %>
		</div>

	<% end %>
</div>

<script>
$(".jquery-ui-date").datepicker({ dateFormat: 'yy-mm-dd' });
</script>