<div class="workout-builder">
	<div class="workout-builder-wrapper">
		<div class="workout-builder__header"> 
			<h3 class="header-md"> Your Workout <h3> 
		</div>
		<ul class="workout-builder__exercise-list">
			<% if @built_workout.count == 0 %>
				<p class="workout-builder--no-exercises"> Pick and choose exercises to the right. Add them here. <p>
			<% end %>

			<% @built_workout.each do |ex| %>
				<li class="exercise-list__list" data-ex_id="<%= ex.id %>"> 
					<%=  ex.name %> 
					<span class="remove-exercise"> 
						<%= link_to "<i class='icon-remove'> </i>".html_safe, clear_exercise_descriptions_path(clear: "remove-exercise", id: ex.id), remote: true, id: "remove-exercise" %> 
					</span> 
				</li>
			<% end %>
		<ul>
		<div class="workout-builder-footer">
			<%= link_to 'Save', user_workouts_path(current_user.id, workout: { planned: "true", exercises_attributes: {ids: session[:built_workout]}}), method: :post, class: "save-built-workout"%>
			<%= link_to 'Clear', clear_exercise_descriptions_path(clear: "reset"), class: "clear-exercises", remote: true %>
		</div>
	</div>
	<div>
</div>
</div>