<div class="workout-builder">
	<div class="workout-builder-wrapper">
		<div class="workout-builder__header"> 
			<h3 class="header-md"> Your Workout <h3> 
		</div>
		<ul class="workout-builder__exercise-list">
			<p class="workout-builder--no-exercises"> You have no exercises yet. Pick some from the database. <p>
			<%= @built_workout %>
		<ul>
	<div class="workout-builder-footer">
			<%= link_to 'Save', user_workouts_path(current_user.id), method: :post, class: "save-built-workout"%>
		</div>
</div>
	

</div>


<nav class="faceted-navigation"> <%= render 'selectors' %> </nav>

<div class="ex-descriptions  grid">
	<div class="ex-descriptions-header  grid">
		<div class="ex-descriptions-query-results"> 
			<% if @exercises.previous_page %>
  			<%= link_to "Prev", params.merge(page: @exercises.previous_page), class: "previous_page" %>
			<% end %>
			<% if @exercises.next_page %>
  				<%= link_to "Next", params.merge(page: @exercises.next_page), class: "next_page" %>
			<% end %>

			Page <%= @exercises.current_page %> of <%= @exercises.total_pages %> out of 
			<span class="ex-count hilite"> <%= @exercises.count %> </span>exercises 
		</div>
	</div>	
	<% @exercises.each do |e| %>
	<div class="ex-descriptions-card" data-ex_id="<%= e.id %>">

			<div class="ex-descriptions-header meta-info grid"> 
				<div class="ex-card-buttons">
					<%= tooltip_for("Add to Workout") do %>
					 <div class="add-ex-link"><%= link_to '+', remote: :true %></div>
					<% end %>
				</div>
				<span class="ex-name"> <%= link_to "#{e.name}", e %> </span>
				<sup class="ex-description-icons"> 
					<%= image_tag "skill_level_#{e.skill_level.downcase unless e.skill_level.	nil?}.jpg" %> 
					<div id="circle_<%= e.category.delete(" ") %>"> </div>
				</sup>
			</div>
	
			<div class="ex-descriptions-content">
				<p> 
					<div class="text-description"> 
						<span class="ex-descriptions-label">Preparation:</span> 
						<%= e.preparation.split[0..10].join(" ") %>... <br /> <br />
						<span class="ex-descriptions-label">Execution: </span>
						<%= e.execution.split[0..10].join(" ") %>... <br />
					</div>

					<div class="stats-description">
							<%= e.equipment_type[0].upcase %>&middot;
							<%= e.body_part.to_s.gsub('"', '').gsub(",", " &middot;").gsub(/\[|\]/, "").html_safe %>
						<span class="extra-content-link">Expand</span>&nbsp;	
						<span class="triangle"> </span>
					</div> 
				</p>
			</div>
	
			<div class="ex-descriptions-extra-content">
				<p>
					<h3 class="muscle-group-header"> Muscle Groups: </h3>
						<span class="ex-descriptions-label">Target:</span> 
						<%= eval("#{e.muscle_groups}")["target"]%> <br />
						<span class="ex-descriptions-label">Synergists:</span> 
						<%= eval("#{e.muscle_groups}")["synergists"] %>
				</p>
			</div>
	</div>
	<% end %>
</div>
