<div class="wrap" data-ex_id="<%= @user.id %>">
<%= @show_built_wrkt %>
		<section class="workout-build__container">
			<%= render "/workouts/build/build", user: @user %>
		</section>

	<section class="exercise-descriptions-container">
		
		<nav class="faceted-navigation"> <%= render 'selectors' %> </nav>
		
		<div class="ex-descriptions  grid">
			<%= render 'page_query_results' %>
			<% @exercises.each do |e| %>
			<div class="ex-descriptions-card<%= " hilite" if @exercise_ids.include?(e.id) unless @exercise_ids.nil? %>" data-ex_id="<%= e.id %>">
		
					<div class="ex-descriptions-header meta-info grid"> 
						<div class="ex-card-buttons">
							<%= tooltip_for("Add to Workout") do %>
							 <div class="add-ex-link"><%= link_to 'Add', 	build_exercise_description_path(e.id), remote: true, class: "add-ex" %></div>
							<% end %>
						</div>
						<span class="ex-name"> <%= link_to "#{e.name}", e %> </span>
						
					</div>
			
					<div class="ex-descriptions-content">
						<p> 
							<div class="text-description"> 
								<span class="ex-descriptions-label">Preparation:</span> 
								<%= e.preparation.split[0..10].join(" ") %>... <br /> <br />
								<span class="ex-descriptions-label">Execution: </span>
								<%= e.execution.split[0..10].join(" ") %>... <br />
							</div>
		
							<div class="stats-description">
									<%= e.equipment_type[0].upcase %>&middot;
									<%= e.body_part.to_s.gsub('"', '').gsub(",", " &middot;").gsub(/\[|\]/, "").		html_safe %>
								<span class="extra-content-link">Expand</span>&nbsp;	
								<span class="triangle"> </span>
								<span class="ex-description-icons"> 
									<%= image_tag "skill_level_#{e.skill_level.downcase unless e.skill_level.nil?}.jpg" 	%> 
									<div id="circle_<%= e.category.delete(" ") %>"> </div>
								</span>
							</div> 
						</p>
					</div>
			
					<div class="ex-descriptions-extra-content">
						<p>
							<h3 class="muscle-group-header"> Muscle Groups: </h3>
								<span class="ex-descriptions-label">Target:</span> 
								<%= eval("#{e.muscle_groups}")["target"]%> <br />
								<span class="ex-descriptions-label">Synergists:</span> 
								<%= eval("#{e.muscle_groups}")["synergists"] %>
						</p>
					</div>
			</div>
			<% end %>
		</div>
	</section>

</div>
