<% unless workout.nil? %>
<table class="media-workout">
	<tr>
		<td><%= image_tag workout.user.photo_url(:mini_thumb).to_s %></td>
		<td style="text-align: left;"><%= link_to "#{workout.user.name}", workout.user %></td>
	</tr>
	<tr>
		<td rowspan="2" class="media-workout-lv">
			<%= workout.load_volume %> 
		</td>
		
		<td class="media-workout-description"> 
			<%= workout.planned == true ? "performed a" : "created a" %>
			<%= link_to user_workout_path(workout.user.id, workout.id) do %>
				<%= workout.category %> workout
				in <%= format_duration_to_HMS(workout.duration) %>
			<% end %>
		</td>
	
		<td class="media-workout-stats"> 
			<div class="media-workout-sets">
				<%= workout.sets %> <br />sets 
			</div>
			<div class="media-workout-exercises"> 
				<%= workout.exercises.count %> exercises
			</div>
		</td>
	</tr>

	<tr>
		<td class="media-workout-actions"> 
			<%= link_to 'Snag'.html_safe, snag_user_workout_path(current_user.id, id: workout.id ) %>
			<%= link_to 'Comment'.html_safe, '#' %> 
			- <%= 	time_ago_in_words(workout.created_at) %> ago 
		</td>
		<td class="workout-glory"> <%= link_to '<i class="icon-chevron-up glory-give"></i>'.html_safe, give_path(glory: { giver_id: current_user.id, receiver_id: workout.user.id, glorifiable_id: workout.id, glorifiable_type: workout.class.to_s }), method: :post, title: "This workout shows some effort", remote: true %> <span class="glory-pts-<%= workout.id %>"> <%= workout.glory_pts.count %> </span></td>
	</tr>
</table>
<% end %>

