<%= form_for [:admin, @exercise] do |f| %>
		
		<h1> <%= @exercise.name %> </h1>
	
	<div class="field">
	<strong><%= f.label :preparation %></strong>
	<%= f.text_field :preparation, :placeholder => " preparation" %>
	</div>
	
	<div class="field">
	<strong><%= f.label :execution %></strong>
	<%= f.text_field :execution, :placeholder => " execution" %>
	</div>
	
	<div class="field">
	<strong><%= f.label :body_part %></strong>
	<%= f.text_field :body_part, :placeholder => " body part" %>
	</div>

	<div class="field">
		<%= f.submit %>
	</div>

<% end %>