<% unless current_user.nil? %>
  <% current_user.notifications.each do |note| %>
    <li class="notifications-dropdown-li-item" data-notification_id="<%= note.id %>" data-seen="<%= note.seen %>">

      <% if note.action == "create" %>
      <%= note.notifiable_type.constantize.requester(note.notifiable_id).name %> requested to be friends
      <%= friendship_status(note.notifiable_type.constantize.requester(note.notifiable_id).id, current_user.id,  note.notifiable_type.constantize.find(note.notifiable_id)) %>
      <% elsif note.action == "accept" %>
      <% if note.notifiable_type.constantize.exists?(note.notifiable_id) %>
        You are now friends with <%= link_to "#{note.notifiable_type.constantize.accepter(note.notifiable_id).name}" %> 
        <%= friendship_status(note.notifiable_type.constantize.requester(note.notifiable_id).id, current_user.id,  note.notifiable_type.constantize.find(note.notifiable_id)) %>
        <% end %>
      <% end %>
    </li>
  <% end %>
<% end %>
