<% unless current_user.nil? %>
  <% current_user.notifications.each do |note| %>
    <li class="notifications-dropdown-li-item" data-notification_id="<%= note.id %>" data-seen="<%= note.seen %>">

      <% if note.action == "create" && note.notifiable_type == "Friendship" %>
      <%= note.notifiable_type.constantize.requester(note.notifiable_id).name %> requested to be friends
      <%= friendship_status(note.notifiable_type.constantize.requester(note.notifiable_id).id, current_user.id, note.notifiable_type.constantize.find(note.notifiable_id)) %>
      <% elsif note.action == "accept" && note.notifiable_type == "Friendship" %>
        <% if note.notifiable_type.constantize.exists?(note.notifiable_id) %>
          You are now friends with <%= link_to "#{note.notifiable_type.constantize.accepter(note.notifiable_id).name}", note. notifiable_type.constantize.accepter(note.notifiable_id) %> 
          <%= friendship_status(note.notifiable_type.constantize.requester(note.notifiable_id).id, current_user.id, note. notifiable_type.constantize.find(note.notifiable_id)) %>
        <% end %>
      <% elsif note.notifiable_type == "Invitation" %>
        <% if note.action == "create" %>
          <%= User.find(note.notifiable.sender_id).name %> invited you to a scheduled workout.
          <% if note.notifiable.status != "accepted" %> 
            <%= link_to 'Accept', accept_invitation_path(id: note.notifiable.id) %>
            <%= link_to 'Deny', reject_invitation_path(id: note.notifiable.id) %>
          <% end %>
        <% elsif note.action == "invitation_accepted" %>
           Your invitation to <%= note.notifiable.workout.name %> has been accepted by <%= User.find(note.notifiable.recipient_id).name %>
        <% end %>
      <% end %>
    </li>
  <% end %>
<% end %>
