<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @notification.user %>
</p>

<p>
  <strong>Action:</strong>
  <%= @notification.action %>
</p>

<p>
  <strong>Notifiable:</strong>
  <%= @notification.notifiable %>
</p>

<p>
  <strong>Notifiable type:</strong>
  <%= @notification.notifiable_type %>
</p>


<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
