<%= form_for(@user, :html => {:multipart => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :invitation_token %>
	
  <div class="field">
    <%= f.text_field :name, :size => "25", :placeholder => " name" %>
  </div>
 	
	<div class="field">
    <%= f.text_field :email, :size => "25", :placeholder => " email" %>
  </div>
	
	<div class="field">
    <%= f.password_field :password, :size => "25", :placeholder => " password"%>
  </div>
	
	<div class="field">
    <%= f.password_field :password_confirmation, :size => "25", :placeholder => " confirm password" %>
  </div>

  <% if params[:action] == "edit" %>
    <div class="field">
      <%= f.file_field :photo, :size => "25", :placeholder => " email" %>
    </div>
  
    <div class="field">
      <%= f.date_field :birthday %>
    </div>
  
    <div class="field">
      <%= f.text_area :about_me, cols: "10", rows: "10", placeholder: "About me" %>
    </div>
  
    <div class="field">
      <%= f.text_field :website, :size => "35", :placeholder => " http://mywebsite.com" %>
    </div>
  
    <div class="field">
      <%= f.text_field :city, size: "25", placeholder: "City" %>
    </div>
  
    <div class="field">
      <%= f.select(:state, User.states, {}, style: "height: 32px; width: 180px") %>
    </div>
  
    <div class="field">
      <%= f.select(:country, User.countries) %>
    </div>
  
     <div class="field">
      <%= f.select(:gender, [['Male'], ['Femaile']]) %>
    </div>
  <% end %>
  
	<div class="actions">
    <%= f.submit 'Register' %>
  </div>

<% end %>
