<%= form_for(@user, :html => {class: "ws-instantvalidation", :multipart => true}) do |f| %>
  <%= render "/layouts/errors", object: f.object %>
  <%= f.hidden_field :invitation_token %>
	
  <div class="field">
    <%= f.text_field :name, required: true, :size => "25", :placeholder => " name" %>
  </div>
 	
	<div class="field">
    <%= f.email_field :email, required: true, :size => "25", :placeholder => " email" %>
  </div>



<% if params[:action] == "edit" %>
  <a id="change-pword-link" href="javascript:void(0);" onclick="togglePWord();">Change Password</a>
  <div class="change-password" style="opacity: 0.4;">
   <div class="field">
      <%= f.password_field :password, :size => "25", :placeholder => " password", disabled: true%>
    </div>
   
   <div class="field">
      <%= f.password_field :password_confirmation, :size => "25", :placeholder => " confirm password", disabled: true %>
    </div>
  </div>
<% else %>
 <div class="field">
    <%= f.password_field :password, required: true, :size => "25", :placeholder => " password"%>
  </div>
   
  <div class="field">
    <%= f.password_field :password_confirmation, required: true, :size => "25", :placeholder => " confirm password" %>
  </div>
<% end %>

  <% if params[:action] == "edit" %>
    <div class="field">
      <%= f.label "Upload a photo" %>
      <%= f.file_field :photo %>
    </div>
  
    <div class="field">
      <%= f.date_field :birthday, size: "34" %>
    </div>
  
    <div class="field">
      <%= f.text_area :about_me, cols: "10", rows: "10", placeholder: "About me" %>
    </div>
  
    <div class="field">
      <%= f.text_field :website, :size => "35", :placeholder => " mywebsite.com" %>
    </div>
  
    <div class="field">
      <%= f.text_field :city, size: "25", placeholder: "City" %>
    </div>
  
    <div class="field">
      <%= f.select(:state, User.states, {}, style: "height: 32px; width: 180px") %>
    </div>
  
    <div class="field">
      <%= f.select(:country, User.countries, selected: "United States") %>
    </div>
  
     <div class="field">
      <%= f.select(:gender, [['Male'], ['Female']]) %>
    </div>
  <% end %>
  
	<div class="actions">
    <%= f.submit(params[:action] == "edit" ? 'Update' : 'Register') %>
  </div>

<% end %>
