<%= form_tag find_users_path, method: :get do %>
	<%= label_tag "Search:" %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
<% end %>

<div id="community">
	<ul id="user_list">
		<% @users.each do |u| %>
		<% if current_user != u %>
			<li class="user"> 
				<ul id="list_user" data-user_name="<%= u.name %>">

					<li> <%= image_tag u.photo_url(:mini_thumb).to_s, id: "user_image" %> </li>
					<li><%= link_to "#{u.name}", u %></li>
					<li id="friend_status"> <%= determine_status(u) %> </li>
					
				</ul>
			</li>	
			<% end %>
			<% end %>
	</ul>
	<%= will_paginate @users %>
	
	
<script>

</script>