<div class="profile">

	<section class="profile-info">

		<section class="profile-nav-header">
			<h2 class="name-header"> <%= @user.name %> </h2>
			<nav class="profile-nav">
				<ul class="profile-nav-li">

					<li class="profile-nav-li-item find-friends dd-prnt"> Friends
						<ul class="find-friends-list dd-li"> 
							<li class="search-community"> <%= link_to 'Search', find_users_path  %></li>
							<li class="invite-friends"> <%= link_to 'Invite', new_invitation_path %> </li>
						</ul> 
					</li>
					<li class="profile-nav-li-item"> <%= link_to "Prefs", user_defaults_path(user_id: current_user.id) %>
					<li class="profile-nav-li-item"> <%= link_to "Edit", edit_user_path(current_user) %> </li>
				</ul>
			</nav>
		</section>
		<div style="clear: both"> </div>
		<section class="profile-main-content">
		
			<div class="profile-header">
				<div id="photo"> 
					<%= image_tag @user.photo_url(:default).to_s %> 
				</div>
					
				<ul id="friends_list">
					<% @user.friendships.each do |friendship| %>
						<%= show_friend_photo(friendship) %> 
					<% end %>
				</ul>
			
				<% if Friendship.are_friends(current_user, @user) %>
				<%= link_to 'Remove Friend', friendship_path(destroyer: current_user, destroyed: @user), method: :delete, data: {confirm: "Are you 	sure you want remove #{@user.name} from your friends?" } %>
				<% end %>
	
			</div>
	
			<div class="profile-data">
				<%= render "bio" %>
			</div>
	
			<div class="profile-about-me">
				<%= @user.about_me %>
			</div>

		</section>

</section>

<section class="profile-workout-info">
	<div class="workouts_graph" data-user_id="<%= @user.id %>">
		<%= start_training(@user) %>
		<div id="graphContainer"></div>
	</div>
	<div class="profile-workouts">
		<header class="profile-workout-header"> 
			<h2><span><%= @user_workouts.count %></span> Workouts</h2>
		</header>
		<% @user_workouts.each do |workout| %>
		<%= render "media_objects/workout", workout: workout %>
		<% end %>
		<br />
		<%= will_paginate @user_workouts %>
	</div>

	<div class="profile-challenges"> 
			<header class="profile-workout-header"> 
			<h2><span><%= @user.challenges.count %></span> Challenges</h2>
		</header>
		<%= render '/challenges/index' %>
	</div>
</section>




</div>

