<div class="profile">
	<section class="profile-info">
		<section class="profile-nav-header">
			<h2> <%= @user.name %> </h2>
			<li class="integrations-li dd-prnt">
				<%= tooltip_for("Enable integrations") do %>
					<span class="icon-cog"></span>
				<% end %>
				<ul class="integrations-dd-li dd-li">
					<li> 
						<% if !Integration.enabled?("moves") %>
							<%= link_to "Moves", "/auth/moves" %>
						<% else %>
							<%= HTMLEntities.new.decode "&#10003; Moves" %> 
						<% end %>
					</li>
				</ul>
			</li>
			
		</section>
		<div style="clear: both"> </div>
		<section class="profile-main-content">
		
			<div class="profile-header">
				<div id="photo"> 
					<div class="photo-edit">
						<%= link_to "Edit profile picture", edit_user_path(current_user) %>
					</div>
					<%= image_tag(@user.photo_url(:default).to_s) %> 
				</div>
					
				<ul id="friends_list">
					<% @user.friendships.each do |friendship| %>
						<%= show_friend_photo(friendship) %> 
					<% end %>
				</ul>
			
				<% if Friendship.are_friends(current_user, @user) %>
				<%= link_to 'Remove Friend', friendship_path(destroyer: current_user, destroyed: @user), method: :delete, data: {confirm: "Are you sure you want to remove #{@user.name} from your friends?" } %>
				<% end %>
	
			</div>
	
			<div class="profile-data">
				<%= render "bio" %>
			</div>
	
			<div class="profile-about-me">
				<%= @user.about_me %>
				<div id="integration_activities">
					<!-- user integration activities -->
					<div class="integration_activity" id="walking">
						<h4> Walk </h4> <br />
						<%= @walking.sum(:distance) / 1600 %> mi <br />
						<%= Time.at(@walking.sum(:duration)).utc.strftime("%H:%M") %> hrs 
					</div>
	
					<div class="integration_activity" id="cycling">
						<h4> Cycle </h4> <br />
						<%= @cycling.sum(:distance) / 1600 %> mi <br />
						<%= Time.at(@cycling.sum(:duration)).utc.strftime("%H:%M") %> hrs 
					</div>

					<% if @running.size != 0 %>
						<div class="integration_activity" id="running">
							<h4> Running </h4> <br />
							<%= @running.sum(:distance) / 1600 %> mi <br />
							<%= Time.at(@running.sum(:duration)).utc.strftime("%H:%M") %> hrs 
						</div>
					<% end %>

				</div>
				<!-- user tranportation below -->
				<div class="integration_activity" id="transport">
					<h4> Transport </h4> <br />
						<%= @transport.sum(:distance) / 1600 %> mi <br />
						<%= Time.at(@transport.sum(:duration)).utc.strftime("%H:%M") %> hrs
				</div> 
			</div>

		</section>

</section>

<section class="profile-workout-info">
	<div class="workouts_graph" data-user_id="<%= @user.id %>">
		<%= start_training(@user) %>
		<div id="graphContainer"></div>
	</div>
	<div class="profile-workouts">
		<header class="profile-workout-header"> 
			<h2><span><%= @user_workouts.count %></span> Workouts</h2>
		</header>
		<% @user_workouts.each do |workout| %>
		<%= render "media_objects/workout", workout: workout %>
		<% end %>
		<br />
		<%= will_paginate @user_workouts %>
	</div>

	<div class="profile-challenges"> 
			<header class="profile-workout-header"> 
			<h2><span><%= @user.challenges.count %></span> Challenges</h2>
		</header>
		<%= render '/challenges/index' %>
	</div>
</section>

</div>

