<div id="profile_container">
<div id="profile_top">
	<h2> <%= @user.name %> </h2>
	<div id="info">
		<div id="photo"> <%= image_tag @user.photo_url(:default).to_s %> </div>
			<i class="icon-arrow-down"></i>
			<i class="icon-user"></i>
			<i class="icon-arrow-up"></i>
			
		<ul id="friends_list">
			<% @user.friendships.each do |friendship| %>
					<%= show_friend_photo(friendship) %> 
			<% end %>
		</ul>
	
		<ul id="friend_finder">
			<%= show_friend_finder_nav %>
		</ul>
	
		<h2> Friend Requests </h2>
		<ul id="friend_requests">
			<% @user.friendships.each do |friendship| %>
				<%= show_friendship_status(friendship) %> 
			<% end %>
		</ul>
	</div>

	<div class="workouts_graph" data-user_id="<%= @user.id %>">
		<%= start_training(@user) %>
		<div id="graphContainer"></div>
	</div>

</div>

<div id="profile_workout_container">
	<h2 id="workouts_header"> 
		<span><%= @user.workouts.count %></span> Workouts
	</h2>
	<% @user_workouts.each do |workout| %>
	<table>
	<tr>
		<td rowspan="2" id="lv_wrapper">
			<span id="lv_label">Load V.</span><br />
			<%= workout.load_volume %> 
		</td>
		<td rowspan="2" id="activity_description"> 
			<%= link_to(@user.name, @user) %>
			strengthened his <%= workout.category %> 
			<%= format_duration_to_HMS(workout.duration) %>
		</td>
		<td id="activity_sets" class="sets_and_exercises"> 
			<span id="act_sets_label">Sets</span><br />
			<span id="act_sets_count"><%= workout.sets %></span>
		</td>
	</tr>
	<tr>
		<td id="activity_exercises" class="sets_and_exercises"> 
			<span id="act_ex_label">Exercises</span><br />
			<span id="act_ex_count"><%= workout.exercises.count %> </span>
		</td>
	</tr>
</table>
<%= link_to 'Comment', '#' %> - <%= time_ago_in_words(workout.created_at) %> ago
	<% end %>
	<br />
	<%= will_paginate @user_workouts %>
</div>


<div id="challenges"> 
	<h2> <span><%= @user.challenges.count %></span> Challenges </h2>
	<%= render '/challenges/index' %>
</div>

</div>

