<div id="top_section">

		<h1 class="slogan header-bg">Strengthify Yourself</h1>
		<h2 class="val header-md"> Automated Personal Training at Your Fingertips</h2>

</div>
<div style="clear: both;"></div>

<div class="cool-features">
	<div class="feature feature-build-workout"> 
		<h3>Build Workouts</h3>
		<div class="feature-gif"> 
			<%= image_tag "feature-build-workout.png", size: "200x200" %>
		</div>
		<div class="feature-description"> </div>  
	</div>
	
	<div class="feature feature-perform"> 
		<h3>Perform Anywhere</h3>
		<div class="feature-gif"> 
			<%= image_tag "" %>
		</div>
		<div class="feature-description"> </div>  
	</div>
	
	<div class="feature feature-analyze">
		<h3>Analyze and Improve</h3>
		<div class="feature-gif"> 
			<%= image_tag "" %>
		</div>
		<div class="feature-description"> </div> 
	</div>
	
	<div class="feature feature-social">
		<h3>Invite and Challenge Friends</h3>
		<div class="feature-gif"> 
			<%= image_tag "" %>
		</div>
		<div class="feature-description"> </div> 
	</div>
</div>

<div id="first_value_statement"> 
	Strength Training Doesn't Have To Be A Hassle. 
</div>
<p id="second_value_statement"> 
	Experience the best way to record workouts. <%= link_to 'Get Started', signup_path  %> 
</p>


