<div id="top_section">

		<h1 class="slogan header-bg">Strengthify Yourself</h1>
		<h2 class="val header-md"> Build Workouts, Perform Them, Then Get Feedback </h2>

		<div class="flipbox-container">
			<div class="invitation-signup flipbox">
				<%= form_for(Invitation.new, :html => {class: "ws-instantvalidation", remote: true}) do |f| %>
				<p> 
					Strengthify is currently in private beta. Register your email with us and we'll let you know when 	we're ready for you.
				</p> 
				<p>
				  <%= f.label :recipient_email, "Your Email:" %>
				  <%= f.email_field :recipient_email, required: true, placeholder: "No spam. Pinky promise" %>
				  <%= f.submit 'Register E-mail', id: "submit_email" %>
				</p>
				<% end %>
			</div>
		</div>

</div>


<div class="cool-features">
	<h3 class="section-header"> Features </h3>

	<section class="feature-section  feature-ex-db">
		<h3 class="main-feature-header"> Step 1: Choose Your Exercises </h3>
		<div class="feature-wrap">
			<div class="feature"> 

				<div class="feature-description"> 
					<div class="meta-description">
						With a searchable and filterable exercise database, finding new exercises has never been easier or faster. Each exercise has been described and categorized, so discovering new exercises is a breeze.
					</div>
					<ul> 
						<li> Choose and discover from hundreds of curated exercises </li>
						<li> Filter by skill level, category and force </li>
						<li> Search by exercise name, equipment type, body part or even muscle groups </li>
					</ul>
				</div> 

				<div class="feature-gif"> 
					<%= image_tag "feature-exercise-db.png" %>
				</div>

			</div>
		</div> <!-- end feature wrap -->
	</section>


	<section class="feature-section  feature-build-workout">
		
		<h3 class="main-feature-header"> Step 2: Build Your Workout </h3>
		<div class="feature-wrap">
			<div class="feature"> 
				<div class="feature-gif"> 
					<%= image_tag "feature-build-workout.png" %>
				</div>
				<div class="feature-description"> 
					<div class="meta-description">
						You've chosen your exercises. Now how can you mesh them into a quality workout? Strengthify offers an array of configurable options to build a workout exactly the way you want it. 
					</div>
					<ul> 
						<li> Add and remove exercises from our database </li>
						<li> Choose from rep-based or time-based intervals </li>
						<li> Perform weighted or body weight exercises </li>
						<li> Determine a rest period based on exercise intensity </li>
					</ul>
				</div>  
			</div>
		</div> <!-- end feature wrap -->
	</section>

	<section class="feature-section  feature-perform">
		<h3 class="main-feature-header"> Step 3: Perform</h3>
		<div class="feature-wrap">
			<div class="feature">
				
				<div class="feature-gif"> 
					<div class="phone-wrap">
						<div class="phone phone-1">
							<%= image_tag "feature-perform-1.png", size: "290x600" %>
						</div>
						<div class="next-phone">
							<i class="icon-circle-arrow-right"> </i>
						</div>
						<div class="phone phone-2">
							<%= image_tag "feature-perform-2.png", size: "290x600" %>
						</div>
						<div class="next-phone">
							<i class="icon-circle-arrow-right"> </i>
						</div>
						<div class="phone phone-3">
							<%= image_tag "feature-perform-3.png", size: "290x600" %>
						</div>
					</div>
				</div>
	
				<div class="feature-description"> 
						<div class="meta-description">
						Perform your workout by using your mobile phone to help guide you. Each exercise and set of your workout is laid out, so you don't have to wonder what you have to do next. 
					</div>
					<ul> 
						<li> Proceed sequentially and at your own pace through your workout </li>
						<li> Edit weight and reps during your workout -- for e.g. if you lifted more than you planned </li>
						<li> Follown the progress bar to keep yourself motivated </li>
					</ul>
				</div> 
			</div>
		</div> <!-- end feature wrap -->
	</section>

<section class="feature-section  feature-analyze">
	<h3 class="main-feature-header">Post-Workout: Visualize Your Data</h3>
	<div class="feature-wrap">
		<div class="feature">
			<div class="feature-description"> 
					<div class="meta-description">
						See your progress and determine where you can improve. Get feedback on important metrics such as <span class="emphasis"> "Load-Volume" </span> and "Workout Time", and segment your data across specific workout categories.
					</div>
					<ul> 
						<li> Interactive graphs let you hover over to see further workout details </li>
						<li> Change the graph time scale to view data as far back as last year, or as recently as last week </li>
						<li> Filter by metric and category to segment your data </li>
					</ul>
			</div> 
			<div class="feature-gif"> 
				<%= image_tag "feature-analyze-2.png" %>
			</div>
			
		</div>
	</div> <!-- end feature wrap -->
</section>

<!-- <section class="feature-section feature-social">
	<h3 class="main-feature-header">Share With Friends, Personal Trainers, Coaches</h3>
	<div class="feature-wrap">
		<div class="feature">
			<h3>Invite and Challenge Friends</h3>
			<div class="feature-gif"> 
				<%= image_tag "" %>
			</div>
			<div class="feature-description">
					<div class="meta-description">
						Your workout should be configurable. Everyone's different. That's why Strengthify provides options for building a workout exactly the way you like it. 
					</div>
			 </div> 
		</div>
	</div> 
</section> -->

</div>	<!-- end cool features -->



