<h1>Listing scheduled_workouts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scheduled_workouts.each do |scheduled_workout| %>
      <tr>
        <td> <%= scheduled_workout.scheduled_date %> </td>
        <td> <%=  %> </td>
        <td><%= link_to 'Show', scheduled_workout %></td>
        <td><%= link_to 'Edit', edit_scheduled_workout_path(scheduled_workout) %></td>
        <td><%= link_to 'Destroy', scheduled_workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scheduled workout', new_scheduled_workout_path %>
