<fieldset>
	<div class="field">
	<% if params[:action] = "edit" %>
	<%= f.label :name %>
	<% end %>
	<%= f.text_field :name, :placeholder => "exercise", data: { autocomplete_source: exercises_path} %>
	</div>
	<div class="field">
	<% if params[:action] = "edit" %>
	<%= f.label :weight %>
	<% end %>
	<%= f.text_field :weight, :placeholder => "weight" %>
	</div>
	<div class="field">
	<% if params[:action] = "edit" %>
	<%= f.label :reps %>
	<% end %>
	<%= f.text_field :reps, :placeholder => "reps" %>
	</div>
	<%= f.hidden_field :_destroy %>
	<%= link_to "Remove Exercise", '#', class: "remove_fields" %>
</fieldset>

