<table id="index_of_workout_tables">
  <thead>
    <tr>
			<th class="date">Date</th>
      <th class="category">Category</th>
			<th class="sets">Sets</th>
			<th class="name">Name</th>
			<th class="perform">Perform?</th>
    </tr>
  </thead>

  <tbody>
    <% @planned_workouts.each do |w| %>
		<tr class="row_for_workout" data-workout_id="<%= w.id %>">
			<td class="date"><%= w.created_at.strftime("%m/%d/%y") %><%= "-" if w.created_at.blank? %></a></td>
			<td class="category"><%= w.category %><%= "-" if w.category.blank? %></a></td>
			<td class="sets"><%= w.sets %><%= "-" if w.sets.blank? %></a></td>
      <td class="name"><%= w.name %><%= "-" if w.name.blank? %></a></td>
      <td> <%= link_to 'Perform', perform_user_workout_path(current_user.id, w.id) %></td>
    </tr>                    
	
    <% end %>
  </tbody>
</table>