<%= form_for(@baseline) do |f| %>
  <% if @baseline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@baseline.errors.count, "error") %> prohibited this baseline from being saved:</h2>

      <ul>
      <% @baseline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :challenge_id %><br />
    <%= f.number_field :challenge_id %>
  </div>
  <div class="field">
    <%= f.label :reps %><br />
    <%= f.number_field :reps %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.number_field :duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
