<% if current_user %>

	<ul class="header-nav-list">
		<li class="profile-link <%= active?('users', 'show') %>"> 
			<%= link_to "Profile", current_user %> 
		</li>
		<li> <div class="divider"> </div></li>
		<li class="nav-profile-li  dd-prnt"> 
			<span>
				<%= link_to image_tag(current_user.photo_url(:tiny_thumb).to_s), user_path(current_user.id) %>
				Your Account
			</span>
			<ul class="header-nav-dd-li  dd-li">
				<li class="li-border  account-app"> <%= link_to 'Account Settings', edit_user_path(current_user.id) %></li>
				<li><%= link_to "Preferences", user_defaults_path(user_id: current_user.id) %></li>
				<li><%= link_to 'Search Friends', find_users_path  %></li>
				<% if current_user.invitation_limit %>
					<li><%= link_to "Send Invites (#{current_user.invitation_limit})", new_invitation_path %></li>
				<% end %>
				<li class="li-border"> <%= button_to 'Sign Out', logout_path, method: :delete, class: "btn-to-link" %></li>
				<% if current_user.admin? %>
					<li> <%= link_to 'Admin', admin_path %></li>
				<% end %>
			</ul>
		</li>
	</ul>

<% else %>

<ul class="header-nav-list__unregistered">
	<li> <%= link_to 'Sign Up', signup_path %> </li>
	<li> <%= link_to 'Log In', login_path %> </li>
</ul>
<% end %>
