<nav class="sub-header-nav">
		<ul class="sub-header-nav-list">
			<li class="build-workout <%= active?('exercise_descriptions', 'index') %>"> <%= link_to "Plan Workout", build_workout_path %> </li>
			<li class="<%= active?('workouts', 'performable') %>"> <%= link_to 'Perform', performable_user_workouts_path(current_user.id) %> </li>
			<li class="<%= active?('workouts', 'new') %>"> <%= link_to "Record", new_user_workout_path(current_user.id) %> </li>
			<li class="<%= active?('workouts', 'index') %>"> <%= link_to "Analyze", user_workouts_path(current_user.id) %> </li>
			<li class="<%= active?('workouts', 'index') %>"> <%= link_to "Scheduled", scheduled_workouts_path %> </li>
		</ul>
	</nav>