<!DOCTYPE html>
<html>
<head>
	<%= render "/layouts/head" %>
	<%= render "/layouts/relations" %>
</head>
<body>
	<div id="header">
		<div id="header_content">
			<ul class="strengthify-header-list left_align">
				<li class="strengthify-logo">
				
				</li>
				<li class="strengthify-header"> <%= name %> </li> 
				<li class="notifications dd-prnt"> <%= notifications if logged_in? %> 
					<ul class="notifications-dropdown dd-li"> 
						<%= render "notifications/index" %>
					</ul>
				</li>
			</ul>

			<% if current_user %> 
				<%= render "layouts/sub_header_nav" %> 
			<% end %>

			<nav class="header-nav">
				<%= render "layouts/header_nav_list" %>
			</nav>
			<div style="clear: both;"></div>
		</div>
	</div>

<div id="application_wrapper">	
	<div id="content_wrapper">
		<p id="notice"><%= notice %></p>
		<%= yield %>
	</div>
</div>
</body>
</html>

