<!DOCTYPE html>
<html>
<head>
  <title>Strengthify</title>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39228168-3', 'herokuapp.com');
  ga('send', 'pageview');

</script>
</head>
<body>
	<div id="header">
		<div id="header_content">
			<ul id="logo_list" class="left_align">
				<li id="lift_logo"><%= render '/layouts/logo' %></li>
				<li id="name_logo"><%= link_to name_and_notifications, root_url %></li>
			</ul>
			<nav class="header-nav">
				<% if current_user %>
				<ul class="header-nav-list">
					<li class="nav-profile-li"> <%= link_to "#{current_user.name}", user_path(current_user.id), 'data-no-turbolink' => true %></li>
					<li> <%= link_to 'Home', root_url %></li>
					<li class="header-nav-list-dropdown"> Settings
						<ul>
							<li> <%= link_to 'Edit Profile', edit_user_path(current_user.id) %>
							<li> <%= link_to 'Logout', logout_path("current"), method: :delete %></li>
							<% if current_user.admin? %>
							<li> <%= link_to 'Admin', admin_path %></li>
							<% end %>
						</ul>
					</li>
				</ul>
				
				<% else %>
				<ul>
					<li> <%= link_to 'Sign Up', signup_path %> </li>
					<li> <%= link_to 'Log In', login_path %> </li>
				</ul>
				<% end %>
			</nav>
			<div style="clear: both;"></div>
		</div>
	</div>

<div id="application_wrapper">	
		<% if current_user %>
	<nav class="sub-header-nav">
		<ul class="sub-header-nav-list">
			<li> <%= link_to "Build Workout", build_workout_path, 'data-no-turbolink' => true %> 
				<% if current_page?(controller: 'exercise_descriptions', action: 'index') %>
				<ul class="sub-header-nav-list-dd">
					<li> <div id="workout_form"><%= render 'workouts/form' %></div></li>
				</ul>
				<% end %>
			</li>
			<li> Perform </li>
			<li> <%= link_to "Record", new_user_workout_path(current_user.id), 'data-no-turbolink' => true %> </li>
			<li> <%= link_to "Analyze", user_workouts_path(current_user.id), 'data-no-turbolink' => true %> </li>
		</ul>
	</nav>
	<% end %>
	<div id="content_wrapper">
			<p id="notice"><%= notice %></p>
		<%= yield %>
	</div>
</div>
</body>
</html>

