<!DOCTYPE html>
<html>
<head>
	<%= render "/layouts/head" %>
	<%= render "/layouts/relations" %>
</head>
<body>
	<div id="header">
		<div id="header_content">
			<ul class="strengthify-header-list left_align">
				<li class="strengthify-header"> <%= name %> </li> 
			</ul>

			<nav class="header-nav">
				<ul class="header-nav-list__unregistered">
					<li> <%= link_to 'Sign Up', signup_path, class: "btn btn-new" %> </li>
					<li> <%= link_to 'Log In', login_path, class: "btn btn-success" %> </li>
				</ul>
			</nav>
			<div style="clear: both;"></div>
		</div>
	</div>

<div id="landing_wrapper">	
	<div id="wrap">
		<p id="notice"><%= notice %></p>
		<%= yield %>
	</div>
</div>
<footer class="footer">
	<div class="icon-triangle-down"></div>
	<div class="footer-wrap">
		<div id="first_value_statement"> 
			Strength Training Doesn't Have To Be A Hassle. 
		</div>
		<div id="second_value_statement">
			<div class="statement col-7-10"> 
			<p> Experience the best way to record workouts. </p>
			</div>
			<div class="statement-action col-3-10">
				<p><%= link_to 'Get Started', signup_path, class: "get-started btn-new"  %>  </p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>