<!DOCTYPE html>
<html>
<head>
	<%= render "/layouts/head" %>
	<%= render "/layouts/relations" %>
</head>
<body>
	<div id="header">
		<div id="header_content">
			<ul class="strengthify-header-list left_align">
				<li class="strengthify-header"> <%= name %> </li> 
			</ul>

			<nav class="header-nav">
				<%= render "layouts/header_nav_list" %>
			</nav>
			<div style="clear: both;"></div>
		</div>
	</div>

<div id="landing_wrapper">	
	<div id="wrap">
		<p id="notice"><%= notice %></p>
		<%= yield %>
	</div>
</div>
<footer class="footer">
	<%= render "layouts/footer" %>
</footer>

</body>
</html>